label { width: 75px; float: left; margin: 0 20px 0 0; display: block; }
input { width: 100px; border: 1px solid #000; padding: 5px; }
#container { text-align: center; }
body {
    min-width: 600px;
    max-width: 100%;
    min-height: 100px;
    max-height: 100%;
    position: relative;
    vertical-align: middle;
  }

button {
    height: 40px;
    width: 75px;
    outline: none;
    text-align: center;
    left: 0%;
    margin-top: 10%;
    display: inline-block;
}

#Addy1, #card {
    width: 450px;
}

#fname {
    width: fit-content;
}

#lname {
    width: fit-content;
}
  
#Addy2, #zip, #city, #state, #country, #phone, #month, #year, #cvv {
    display: block;
    width: fit-content;
}

#reload {
    width: 100px;
}
